
<!-- Banner -->

<div class="banner">
  <div class="banner-content">

		<div class='logo-image'>
		<%= image_tag("logo.png", alt: "logo-image", class:'img-responsive logo') %>
		</div>

		<div class='opening-text'>
			<span class="opening-text-name">Krowdprize</span> The Platform for Crowdfunded Innovation Competitions
		</div>
		<div class="sub-opening-text"> 
			Incentivizing human progress one competition prize at a time 
		</div>


  </div>
</div>

<!-- Features -->

<div class="big-container">

<div class="container-fluid">

    <div class="mid-text-container">
        <h1>We create kick-ass competitions</h1>
          <p>Competition is the best way to incentivize progress</p>
    </div>


    <div class="row">

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('profile.png', id: 'blah', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Community
            </h2>
            <p>
                Submit a competition and vote for your favorite ones
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('nudge.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Funding
            </h2>
            <p>
                Crowdfund prize money and get the top competitions up and running  
            </p>
        </div>

        <div class="service-box col-sm-4">
            <div class="square animated bounceIn">
                <%= image_tag('getnoticed.png', class: 'media-img', alt: 'About') %>
            </div>
            <h2>
                Competition
            </h2>
            <p>
                Browse competitions, innovate, and compete for the top prizes
            </p>
        </div>


    </div>

</div>

</div>


<!-- signup form -->

<div class="subscription-section">

    <div class="container-fluid">

        <div class="row">

            <div class="newsletter-form-img col-md-4 col-lg-6">
                <div class="container-form-image">
                    <%= image_tag('email.png', class: 'subscription-img', alt: 'subscription-image') %>
                </div>
            </div>

            <div class="newsletter-form-content col-md-8 col-lg-6">
                <p>Sign Up For Free</p>
                <p>Get early access to the revolutionary platform</p>
            
                    <div class="form-subscribe">
                       
                        <form action="http://krowdprize.us8.list-manage.com/subscribe/post" method="POST" role="form">

                            <div class="form-inputs subscription-box">

                                <input type="hidden" name="u" value="c50dae01481d495cdc2281893">
                                <input type="hidden" name="id" value="11a0543600">

                                <div class: "form-space">
                                    <div class: "form-group">
                                       <input type="text" name="MERGE1" id="MERGE1" class="form-control" size="25" value="" placeholder="First Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="text" name="MERGE2" id="MERGE2" class="form-control" size="25" value="" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control" size="25" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                              <input type="submit" class="btn btn-default btn-lg" name="submit" value="Sign up!">
                            </div>

                       

                    </div>
            </div>



        </div>

    </div>

    <div class="beta-submissions">
        <h1>Currently accepting 10 beta submissions for innovation competitions from individuals and companies</h1>
        <h3>Email us at hello@krowdprize.com to tell us your competition idea and if selected we will feature it on our upcoming launch</h3>
    </div>

</div>



<!-- imagebreak -->

<div class="image-break">
    <div class="mid-text-container">
        <h1><b>Competitions have proven to be the most effective way to incentivize innovation</b></h1>
    </div>

</div>



<!-- Examples -->

<div class="big-container-example">

<div class="container-fluid">

    <div class="mid-text-container-example">
        <h1>Innovation competitions can be used for anything!</h1>
          <h3>Here are some examples:</h3>
    </div>


    <div class="row">

        <div class="example-box col-sm-4">
            <h1>Food: Napoleonic Wars Prize</h1>
            </br>
            </br>
            <div class="square animated bounceIn">
                <span class="glyphicon glyphicon-cutlery"></span>
            </div>
                </br>
                <h3>12,000 Fracs reward offered by the Napoleon's government during war.
                Resulted in the invention of canned food technology still in use today.
                </h3>
        </div>

        <div class="example-box col-sm-4">
            <h1>Aviation: The Oertig Prize</h1>
            </br>
            </br>
            <div class="square animated bounceIn">
                <span class="glyphicon glyphicon-plane"></span>
            </div>
                </br>
                <h3>$25,000 reward ($340,067 as of 2014) offered on May 19, 1919, NYC. Resulted in the first ever cross-atlantic flight.   
                </h3>
        </div>

        <div class="example-box col-sm-4">
            <h1>Computing: Netflix Prize</h1>
            </br>
            </br>
            <div class="square animated bounceIn">
                <span class="glyphicon glyphicon-cloud-upload"></span>
            </div>
                </br>
                <h3>$1,000,000 open competition for the best collaborative filtering algorithm. Resulted in one of the most powerful predictive computing algorithms of modern times.  
                </h3>
        </div>


    </div>

</div>

</div>

